body{
    font: 16px/1.5 "Open Sans", Arial, Helvetica, sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);

}
h2{
    font: 32px/1 "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0 0 21px;
}
p{
    margin:0 0 24px;
}
a{
    color: var(--main-text-color);
}
:root { 
    --white-color: #FFF; 
    --main-text-color:#2A254B;
    --border-color:#EBE8F4;
    --light-gray-button:#F9F9F9;
}
.header{
    padding: 25px 0;
    border-bottom: 1px solid  var(--border-color);
    margin-bottom: 80px;
}
.container{
    width: 1280px;
    margin: 0 auto;
    padding: 0 80px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font: 24px/1 "Montserrat", Arial, Helvetica, sans-serif;
}
.nav-list{
    margin: 0;
    list-style: none;
    padding: 0;
}
.nav-item{
    display: inline;
    margin: 0 22px;
}
.nav-link{
color: #726E8D;
}
.nav-link:hover{
    text-decoration: underline;
}
.user-icons{
    margin: 0;
    list-style: none;
    padding: 0;
}
.user-item{
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}
.user-icon{
    display: block;
    width: 16px;
    height: 16px;
    text-indent: 9999px;
    overflow: hidden;
}
.search{
    background: url(../images/icon-search.svg);
}
.cart{
    background: url(../images/icon-shopping-cart.svg);
}
.profile{
    background: url(../images/icon-user-avatar.svg);
}
.user-icon:hover{
    opacity: 0.7;
}
.listings{
    display: flex;
    gap: 20px;
}
.section-title{
    text-align: center;
    font: 36px/1.4 "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0  0 24px;
}
.sort-panel{
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.sort-list{
    margin: 0;
    list-style: none;
    padding: 0;
}
.sort-item{
    display: inline;
    margin: 0 22px;
}
.sort-link{
    border: 0;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 20px;
}
.product-img{
    margin-bottom: 24px;
}
.product-title{
    display: block;
}
.button-holder{
    text-align: center;

}
.button {
    display: inline-block;
    padding: 16px 32px;
    border: 0;
    cursor: pointer;
    margin-bottom: 40px;
}

.button-light{
background-color: var(--light-gray-button);
}
.button-dark{
    background-color: var(--main-text-color);
    color: var(--white-color);
}
.sign-up-text .button{
    margin-top: auto;
}
.sign-up .container{
    background: url(../images/Image1.jpg) no-repeat;
    background-size: 50% auto;
}
.sign-up-visual{
    margin-left: -80px;
}
.sign-up-text{
    width: 50%;
    box-sizing: border-box;
    margin-left: auto;
    height: 521px;
    padding: 49px 0 70px 71px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer{
    background-color: var(--main-text-color);
    color: var(--white-color);
}

.footer a{
    color: var(--white-color);
}
.top-footer{
    padding: 60px 0 48px;
}
.footer-nav{
    display: flex;
}
.footer-nav-column{
    width: 167px;
    margin-right: 50px;
}
.footer-nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-nav-link{
    font-size: 14px;
}
.footer-nav-link:hover{
    text-decoration: underline;
}
.footer-nav-item{
    margin-bottom: 12px;
}
.footer-nav-title{
    font: 16px/1 "Montserrat", Arial, Helvetica, sans-serif;
    display: block;
    margin-bottom: 12px;
}
.top-footer{
    display: flex;
    justify-content: space-between;

}
.footer-bottom{
    border-top: 1px solid #4E4D93;
    display: flex;
    padding: 24px 0 25px;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
}
.social-icons{
    margin: 0;
    list-style: none;
    padding: 0;
}
.social-item{
    display: inline-block;
    vertical-align: top;
    margin-left: 24px;
}
.social-icon{
    display: block;
    width: 24px;
    height: 24px;
    text-indent: 9999px;
    overflow: hidden;
}
.linkidin{
    background: url(../images/icon-linkedin.svg) no-repeat;
}
.facebook{
    background: url(../images/icon-facebook.svg);
}
.instagram{
    background: url(../images/icon-instagram.svg);
}
.skype{
    background: url(../images/icon-skype.svg);
}
.twitter{
    background: url(../images/icon-twitter.svg);
}
.pinterest{
    background: url(../images/icon-pinterest.svg);
}
.social-icon:hover{
    opacity: 0.7;
}